@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

h2 {
    @apply mb-4 mt-8;
}

p {
    @apply mb-4;
}

article a {
    @apply text-blue-600 hover:underline dark:text-blue-400;
}
