@import "tailwindcss";

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/Geist-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Geist', sans-serif;
  font-weight:300;
}

/* Nav styles */

.footer-nav-link {
    @apply hover:text-gray-950;
}

nav a {
    display: block;
    padding: .5rem 1rem;
}

header nav a {
    @apply hover:text-gray-950 min-h-[100%];
}

header nav a.active {
    @apply bg-gray-100 text-gray-950 rounded-md;
}

/* Other styles */

h2 {
    @apply text-2xl;
}

.button-disabled {
    @apply opacity-40 cursor-not-allowed;
}
