@import "tailwindcss";

@font-face {
  font-family: 'Geist';
  src: url('/fonts/geist/Geist[wght].woff2') format('woff2-variations'),
       url('/fonts/geist/Geist[wght].woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}



.footer-nav-link {
    @apply hover:underline;
}

nav a {
    display: block;
    padding: .5rem 1rem;
}

header nav a {
    @apply hover:text-gray-900;
}

h2 {
    @apply text-2xl;
}
