---
import Layout from '../layouts/DefaultLayout.astro'
import PageHeading from '../components/pageHeading.astro'

const title = 'Albert Calvet - About Me'
const description =
  'Passion for digital products, technology, and social impact.'

const pageH1 = 'About Me'
const pageSubtitle = description
---

<Layout title={title} description={description}>
    <main class="max-w-full min-h-[calc(100vh-165px)] flex flex-col justify-center items-center px-4 md:[px-8]">
      <PageHeading pageH1={pageH1} pageSubtitle={pageSubtitle}/>
      <!-- Main description -->
      <section class="max-w-7xl grid grid-cols-1 md:grid-cols-3 border-y border-zinc-200 dark:border-zinc-800">
        <div class="flex items-center justify-start md:justify-center col-span-1 h-[200px] md:h-auto border-b md:border-0 border-zinc-200 dark:border-zinc-800 px-4 py-16 md:py-0">
          <img src=/foto_albert.jpg alt="Profile image of Albert Calvet" class="w-36 md:w-48 rounded-full mix-blend-multiply filter saturate-0"/>
        </div>
        <div class="col-span-1 md:col-span-2 flex flex-col px-4 md:px-32 py-16 md:py-32">
          <p class="text-xl md:text-2xl font-normal text-zinc-600 dark:text-zinc-400">I’m Albert, a product lover with too many interests to fit in here. I dedicate myself to exploring <span class="text-zinc-950 dark:text-zinc-50">how digital products are created, how they evolve, and the ways in which society engages with them</span>.</p>
        </div>
      </section>
      <!-- Learnings -->
      <section class="max-w-7xl grid grid-cols-1 md:grid-cols-3 py-16 md:py-32 gap-y-8 md:gap-y-0">
        <div class="col-span-1 px-4">
          <h2>What I'm learning so far</h2>
        </div>
        <div class="col-span-1 md:col-span-2 grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-y-8 md:gap-y-16">
          <div class="learned_item flex flex-col gap-4 pl-4 pr-8">
            <h3 class="relative text-xl font-medium text-zinc-950 dark:text-zinc-50">Users have the answer</h3>
            <p class="text-zinc-600 dark:text-zinc-400">Listen before you build. The best products emerge from real problems, not assumptions.</p>
          </div>
          <div class="learned_item flex flex-col gap-4 pl-4 pr-8">
            <h3 class="relative text-xl font-medium text-zinc-950 dark:text-zinc-50">Use the right metrics</h3>
            <p class="text-zinc-600 dark:text-zinc-400">Vanity numbers don’t drive growth. Focus on metrics that reflect real value.</p>
          </div>
          <div class="learned_item flex flex-col gap-4 pl-4 pr-8">
            <h3 class="relative text-xl font-medium text-zinc-950 dark:text-zinc-50">Ship fast</h3>
            <p class="text-zinc-600 dark:text-zinc-400">Perfection delays learning. Launch early, iterate often, and let feedback guide you.</p>
          </div>
          <div class="learned_item flex flex-col gap-4 pl-4 pr-8">
            <h3 class="relative text-xl font-medium text-zinc-950 dark:text-zinc-50">Focus</h3>
            <p class="text-zinc-600 dark:text-zinc-400">Great products win by clarity. Do less, but do it better and with purpose.</p>
          </div>
        </div>
      </section>
      <section class="max-w-7xl grid grid-cols-1 md:grid-cols-3 md:grid-rows-2 pb-16">
        <div class="col-span-1 flex flex-col gap-4 px-4 pb-8 md:pb-0">
          <h2>Why I created this website</h2>
          <p class="text-zinc-600 dark:text-zinc-400 pb-4">This isn’t a portfolio, nor an online CV. It’s a personal corner of the Internet. A kind of escape from the relentless focus on productivity, engagement metrics, KPIs, algorithms, and the like.</p>
          <p class="text-zinc-600 dark:text-zinc-400 pb-4">Don’t get me wrong, I love all of that. I dedicate my life to learning how to master it. But here, I step outside, observe it from a distance, and reflect on why and how it works without having to surrender to its force.</p>
          <p class="text-zinc-600 dark:text-zinc-400 pb-4">You can read my insights <a href="/insights" class="text-blue-600 dark:text-blue-400 hover:underline">here</a>.</p>
        </div>
        <div class=" col-span-1 md:col-span-2 md:col-start-2 md:row-start-2 flex border border-zinc-200 dark:border-zinc-800 bg-zinc-50 dark:bg-zinc-900 flex-col gap-4 items-end justify-end px-4 md:px-24 py-16 md:py-24">
          <p class="text-xl md:text-2xl font-normal text-zinc-600 dark:text-zinc-400">“Wether or not it draws on new scientific research, <span class="text-zinc-950 dark:text-zinc-50">technology is a branch of moral philosophy, not of science</span>.”</p>
          <span class="align-right text-zinc-600 dark:text-zinc-400">Paul Goodman</span>
        </div>
      </section>
    </main>
</Layout>

<style>
  .learned_item h3::before {
  content:'';
  height: theme('fontSize.xl');
  width: 1px;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-color: black;
}

html.dark .learned_item h3::before {
  background-color: white;
}
</style>