---
import Layout from '../layouts/DefaultLayout.astro'
import PageHeading from '../components/pageHeading.astro'

const title = 'Albert Calvet - About Me'
const description =
  'Passion for digital products, technology, and social impact.'

const pageH1 = 'About Me'
const pageSubtitle = description
---

<Layout title={title} description={description}>
    <main class="grid-guide z-0 max-w-full min-h-[calc(100vh-165px)] flex flex-col justify-center items-center px-4 md:[px-8]">
      <PageHeading pageH1={pageH1} pageSubtitle={pageSubtitle}/>
      <!-- Main description -->
      <section class="max-w-7xl z-1 grid grid-cols-1 md:grid-cols-3 border-y border-zinc-200 dark:border-zinc-800">
        <div class="bg-gradient-to-br from-indigo-300 from-10% via-sky-400 via-30% to-emerald-400 to-90% col-span-1 h-[200px] md:h-auto">
        </div>
        <div class="col-span-1 md:col-span-2 flex flex-col px-4 md:px-32 py-32">
          <p class="text-2xl font-normal text-zinc-600 dark:text-zinc-400">I’m Albert, a product lover with too many interests to fit in here. I dedicate myself to exploring <span class="text-zinc-950 dark:text-zinc-50">how digital products are created, how they evolve, and the ways in which society engages with them</span>.</p>
        </div>
      </section>
      <!-- Learnings -->
      <section class="max-w-7xl z-1 grid grid-cols-1 md:grid-cols-3 py-32 gap-y-16 md:gap-y-0">
        <div class="col-span-1 px-4">
          <h2>What I'm learning so far</h2>
        </div>
        <div class="col-span-1 md:col-span-2 grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-y-8 md:gap-y-16">
          <div class="learned_item flex flex-col gap-4 pl-4 pr-8">
            <h3 class="relative text-xl font-medium text-zinc-950 dark:text-zinc-50">Users have the answer</h3>
            <p class="text-zinc-600 dark:text-zinc-400">Listen before you build. The best products emerge from real problems, not assumptions.</p>
          </div>
          <div class="learned_item flex flex-col gap-4 pl-4 pr-8">
            <h3 class="relative text-xl font-medium text-zinc-950 dark:text-zinc-50">Use the right metrics</h3>
            <p class="text-zinc-600 dark:text-zinc-400">Vanity numbers don’t drive growth. Focus on metrics that reflect real value.</p>
          </div>
          <div class="learned_item flex flex-col gap-4 pl-4 pr-8">
            <h3 class="relative text-xl font-medium text-zinc-950 dark:text-zinc-50">Ship fast</h3>
            <p class="text-zinc-600 dark:text-zinc-400">Perfection delays learning. Launch early, iterate often, and let feedback guide you.</p>
          </div>
          <div class="learned_item flex flex-col gap-4 pl-4 pr-8">
            <h3 class="relative text-xl font-medium text-zinc-950 dark:text-zinc-50">Focus</h3>
            <p class="text-zinc-600 dark:text-zinc-400">Great products win by clarity. Do less, but do it better and with purpose.</p>
          </div>
        </div>
      </section>
    </main>
</Layout>

<style>
  .learned_item h3::before {
  content:'';
  height: theme('fontSize.xl');
  width: 1px;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-color: black;
}

html.dark .learned_item h3::before {
  background-color: white;
}
</style>