---
import Header from '../sections/Header.astro'
import Layout from '../layouts/DefaultLayout.astro'
import Footer from '../sections/Footer.astro'

const title = 'Albert Calvet - Digital Product Manager'
const description =
  'El mayor evento de boxeo entre streamers y creadores de contenido, organizado por Ibai Llanos. Descubre combates, participantes y cómo ver el evento en directo.'
const canonical = 'https://www.infolavelada.com/'
---

<Layout title="{title}" description="{description}" canonical="{canonical}">
    <Header />
    <main>
        
    </main>
    <Footer />
</Layout>