---
import Layout from '../layouts/DefaultLayout.astro';

const title = 'Albert Calvet - Digital Product Manager'
const description =
  'Welcome to my website.'
const canonical = 'https://acalvet.com/'
---

<Layout title={title} description="{description}" canonical="canonical">
  <main class="max-w-full min-h-[calc(100vh-165px)] flex flex-col justify-center items-center px-4 lg:px-8">
    <section id="about" class="w-full max-w-7xl z-10 grid grid-cols-1 md:grid-cols-3 gap-8 px-4 py-16">

      <div class="innerContainer w-full md:w-xl col-span-1 md:col-span-2 flex flex-col gap-8">
        <img src=/foto_albert.jpg alt="Profile image of Albert Calvet" class="w-36 md:w-48 rounded-full mix-blend-multiply filter saturate-0"/>
        <h1 class="text-4xl md:text-5xl/14 tracking-tight font-medium text-zinc-950 dark:text-zinc-50">Exploring the craft of building great digital products</h1>
        <p class="text-base md:text-lg text-zinc-600 dark:text-zinc-400">
          Currently leading a web team, I combine product thinking, design, and technical expertise to create meaningful digital experiences. I’m passionate about learning, discovery, and finding better ways to build.
        </p>
        <div class="hero-links mt-[1rem] flex flex-col sm:flex-row gap-4 sm:gap-[1rem]">
          <a href="/about" class="px-[2rem] py-[1rem] border rounded-lg border-zinc-300 dark:border-zinc-700 bg-zinc-950 dark:bg-white font-normal text-white dark:text-zinc-950 hover:bg-zinc-800 dark:hover:bg-zinc-100 text-center">
            Get to know me
          </a>
          <a href="/insights" class="px-[2rem] py-[1rem] border rounded-lg border-zinc-300 dark:border-zinc-600 bg-zinc-50 dark:bg-zinc-950 font-normal text-zinc-950 dark:text-zinc-50 hover:bg-white dark:hover:bg-zinc-900 text-center">
            Read my Insights
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>


