---
import Layout from '../layouts/DefaultLayout.astro';
import PageHeading from '../components/pageHeading.astro';
import InsightArticle from '../components/insightArticle.astro';

import { getCollection } from 'astro:content';
const posts = await getCollection('blog');

const title = 'Albert Calvet - Insights'
const description =
  'Thoughts on product, people and the dynamics of modern work.'

const pageH1 = 'Insights';
const pageSubtitle = description;
---

<Layout title={title} description={description}>
  <main class="max-w-full min-h-[calc(100vh-165px)] flex flex-col justify-start items-center px-4 sm:px-6 lg:px-8">
    <PageHeading pageH1={pageH1} pageSubtitle={pageSubtitle}/>
    {posts.length === 0 && <p>No posts found.</p>}
    {posts.length > 0 && 
      <ul class="w-full max-w-7xl grid grid-cols-1 xl:grid-cols-3 pb-16 gap-8 md:gap-0">
      <InsightArticle />
      </ul>
    }
  </main>
</Layout>