---
import Header from '../sections/Header.astro'
import Footer from '../sections/Footer.astro'
import Layout from '../layouts/DefaultLayout.astro'
import PageHeading from '../components/pageHeading.astro'

import ProjectCard from "../components/projectCard.astro";
import { projects } from "../data/projects";

const title = 'Albert Calvet - My Projects'
const description =
  'Side projects I\'ve been working on recently.'

const pageH1 = 'My Projects';
const pageSubtitle = description;
---

<Layout title={title} description="{description}" canonical="canonical">
    <Header />
    <main class="max-w-full min-h-[calc(100vh-165px)] flex flex-col justify-center items-center px-4 sm:px-6 lg:px-8">
      <PageHeading pageH1={pageH1} pageSubtitle={pageSubtitle} />
      <section class="w-full max-w-7xl pb-24 grid gap-6
                      grid-cols-1
                      sm:grid-cols-2
                      lg:grid-cols-3">
        {projects.map((project) => (
          <ProjectCard {...project} />
        ))}
      </section>
    </main>
    <Footer />
</Layout>