---
// Logo.astro
const currentPath = Astro.url.pathname;
---

<span class="logo text-2xl font-normal whitespace-nowrap text-zinc-950">
  {currentPath === "/" ? (
    <span class="logo text-2xl">Albert Calvet</span>
  ) : (
    <a href="/" class="logo text-2xl">Albert Calvet</a>
  )}
</span>