---
const props = Astro.props;
const { pageH1, pageSubtitle } = props;
---

<div class="pageHeadings z-1 py-16 px-4 w-full max-w-7xl flex flex-col gap-4 items-start">
    <h1 class="text-3xl md:text-4xl font-medium tracking-tight text-zinc-950 dark:text-zinc-50">{pageH1}</h1>
    <p class="text-zinc-600 dark:text-zinc-400 text-base text-lg md:text-xl">{pageSubtitle}</p>
</div>