<footer class="bg-zinc-50 lg:bg-transparent border-t border-zinc-200 px-4 md:px-8 py-6">
  <div class="max-w-7xl mx-auto flex flex-col-reverse md:flex-row md:justify-between items-left md:items-center gap-6">
    <!-- Copyright -->
    <div class="copyright text-zinc-500 text-center text-left px-4">
      <p>© 2025. All rights reserved.</p>
    </div>

    <!-- Legal links -->
    <nav class="flex flex-col md:flex-row items-left md:items-center gap-2 text-sm md:text-base text-zinc-500">
      <a class="footer-nav-link" href="">Legal Terms</a>
      <a class="footer-nav-link" href="">Privacy Policy</a>
      <a class="footer-nav-link" href="">Cookie Policy</a>
    </nav>
  </div>
</footer>

